<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente1:</strong>
  <%= @canva.cliente1 %>
</p>

<p>
  <strong>Canal1:</strong>
  <%= @canva.canal1 %>
</p>

<p>
  <strong>Problema1:</strong>
  <%= @canva.problema1 %>
</p>

<p>
  <strong>Cliente2:</strong>
  <%= @canva.cliente2 %>
</p>

<p>
  <strong>Canal2:</strong>
  <%= @canva.canal2 %>
</p>

<p>
  <strong>Problema2:</strong>
  <%= @canva.problema2 %>
</p>

<p>
  <strong>Cliente3:</strong>
  <%= @canva.cliente3 %>
</p>

<p>
  <strong>Canal3:</strong>
  <%= @canva.canal3 %>
</p>

<p>
  <strong>Problema3:</strong>
  <%= @canva.problema3 %>
</p>

<%= link_to 'Edit', edit_canva_path(@canva) %> |
<%= link_to 'Back', canvas_path %>
