<%= form_for @dream, html: { multipart: true } do |f| %>
  <% if @dream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dream.errors.count, "error") %> prohibited this dream from being saved:</h2>

      <ul>
      <% @dream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p> Selecciona alguno de estos grupos de interés, con el que más te identificas </p>
<ul>
<li> Desarollo personal o empresarial </li>
<li> Trabajo Social o trabajos grupales</li>
<li> Desarrollo Sostenible o Medio Ambiente</li>
<br>
<div class="form-group">
  <% f.label "Status", class: 'form-control' %>
  <div class="form-group">
    <%= f.select(:select_type, options_for_select([['Desarrollo personal', 'Desarrollo Personal'], ['Trabajo Social', 'Trabajo Social'], ['Desarrollo Sostenible', 'Desarrollo Sostenible'], ])) %>
  </div>
</div>
<br>

<div class="form-group">
    <%= f.label :sueño %><br>
    <%= f.text_field :dream, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label :quiero %><br>
    <%= f.text_field :quiero, class: "form-control" %>
  </div> 
<div class="form-group">
    <%= f.label :ofrezco %><br>
    <%= f.text_field :ofrezco, class: "form-control" %>
  </div>   
<div class="form-group">
    <%= f.label :necesito %><br>
    <%= f.text_field :necesito, class: "form-control" %>
  </div> 
<div class="form-group">
    <%= f.label :Palabras_clave %><br>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>    

  <div class="form-group">
    <%= f.label :imagen %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  
<div class="form-group">
    <%= f.submit class: "form-control" %>
  </div>
<% end %>
