
<%= render 'pages/home' unless user_signed_in? %>

<div id="dreams" class="transitions-enabled">

    <% @dreams.each do |dream| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(dream.image.url(:medium)), dream %>
        <div class="panel-body">
          </div>

       <p><%= dream.dream %></p>
       <p><strong><%= dream.user.email if dream.user %> </strong></p>
        
        <% if dream.user == current_user %>
          <div class="actions">
        <%= link_to edit_dream_path(dream) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
        <% end %>
       <%= link_to dream, method: :delete, data: { confirm: 'Are you sure?' } do %>
       <span class="glyphicon glyphicon-trash"></span>
       Delete
        <% end %>
      </div>
    <% end %>
   </div> 
   <% end %>