
<div id="dreams" class="transitions-enabled">

    <% @dreams.each do |dream| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(dream.image.url(:medium)), dream %>
        <div class="panel-body">
       <%= dream.dream %> <br>
       <strong> <%= dream.user.email if dream.user%> </strong>
        <div class="actions">
        <% if dream.user == current_user %>
        <%= link_to 'Edit', edit_dream_path(dream) %>
       <%= link_to 'Destroy', dream, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
         </div>
        </div>
      </div>  
    <% end %>
   </div> 

