
  <!-- Change the width and height values to suit you best -->
<!-- Change the width and height values to suit you best -->

<% if user_signed_in?
  else %>

<div class="panel panel-default">

<h1>   Educacion en emprendimiento </h1>
 
<h3> Somos una red social donde puedes poner un sueño capaz de cambiar el mundo, a cambio debes ofrecer tiempo para servir a otros proyectos, entre más ayudas ganas puntos, que hacen que el resto de la red te pueda ayudar. <br><br>
</h3>

<h3>   Conectamos, visibilizamos y fortalecemos emprendimientos con Impacto Global </h3>

 <!--<iframe src='http://lenscap.co/s/9p' id='autosize' seamless style='border:none' width='100%' height='675' scrolling='yes'></iframe><script src='http://lenscap.co/embed/v1/stream/js/autosize.js'></script>-->

<br>

  <% end %>

 <!-- Change the width and height values to suit you best -->
<!-- <div class="typeform-widget" data-url="https://felipe10.typeform.com/to/UEONYG" data-text="Lapapaya.org" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_UEONYG&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=Español" style="color: #999" target="_blank">Typeform</a></div>-->



<div class="panel panel-default">
 <div id="tag_cloud" align="center" >
  <h3> Puedes dar click en cualquiera de estas palabras y filtrar los sueños propuestos</h3>
 <% tag_cloud Dream.tag_counts, %w[s m l] do |tag, css_class| %>
 <%= link_to tag.name, tag_path(tag.name), class: css_class %>
 <% end %>
<h3> En este <%= link_to "Link", "http://meetrico.com/coworking_spaces/104" %>, puedes consultar nuestra agenda de actividades y productos </h3>

<!-- <h3> Nuestra metodología básica consiste en las Cadenas de Favores, donde cada emprendedor que asiste tiene 6 Minutos para contarnos su sueño, el producto que ofrece y los clientes que necesita. Durante este tiempo todos los asistentes lo retroalimentamos con contactos y sugerencias. En 10 Sesiónes hemos intercambiado 310 contactos que han arrancado a movilizar un capital de alrededor de $300'000.000 de pesos en oportunidades para nuestros emprendedores. En este <%= link_to "Link", "http://meetrico.com/coworking_spaces/104" %>, puedes consultar algunos de los resultados de nuestras Cadenas de Favores </h3> -->

</div>  
  </div>


<div id="dreams" class="transitions-enabled">

      <% @dreams.each do |dream| %>      
      <div class="box panel panel-default">
        <%= link_to image_tag(dream.image.url(:medium)), dream %>

        <div class="panel-body">
          </div>

       <p><strong> Sueño </strong></p>
       <p><%= dream.dream %></p>
       <p><strong> Ofrezco </strong></p>
       <p><%= dream.ofrezco %></p>
       <p> Palabras clave: <%= raw dream.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </p>


       <%= link_to 'Volverme cómplice', pages_comofunciona_path, class: "btn btn-primary" %>
       <br>
       <br>
       

       <p> >> Reguemos semillas de papaya </p>
       <%= social_share_button_tag("My Site") %>
     
       <!-- <p><strong><%= dream.user.email if dream.user %> </strong></p>-->
        
        <% if dream.user == current_user %>
          <div class="actions">
        <%= link_to edit_dream_path(dream) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Editar
        <% end %>
       <%= link_to dream, method: :delete, data: { confirm: 'Are you sure?' } do %>
       <span class="glyphicon glyphicon-trash"></span>
       Borrar
        <% end %>
      </div>
    <% end %>
   </div> 
   <% end %>

   <div class = "navbar navbar-default navbar-fixed-bottom">

  <div class = "navbar-text">
<%= link_to (image_tag "menu.png", width: 800, height: 100), "/" 
   %>
   <p> Propuesta de Urbanismo Social Equipo Vrissa, Solar Decathlon Sena. </p>
   <p> <%= link_to "Lapapaya Coworking", "http://meetrico.com/coworking_spaces/104", :target => "_blank" %>
    Cra 35 No 3-27 San Fernando Cali - Celular 3207217643 </p> 
  </div>
  </div>
</end>










