<p id="notice"><%= notice %></p>

<p>
  <strong>Dream:</strong>
  <%= @dream.dream %>
</p>

<p>
  <strong>Whant:</strong>
  <%= @dream.whant %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @dream.offer %>
</p>

<p>
  <strong>Need:</strong>
  <%= @dream.need %>
</p>

<%= link_to 'Edit', edit_dream_path(@dream) %> |
<%= link_to 'Back', dreams_path %>
