<%= link_to 'Atr치s', dreams_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
<%= image_tag @dream.image.url(:medium) %>
			</div>
<div class="panel-body">
<p><strong> Sue침o </strong></p>
<p><%= @dream.dream %></p>
<%= link_to 'Quiero sumarme a este sue침o', pages_milsuenos_path, class: "btn btn-primary" %> 
<br>
<br>
<p> Comp치rtelo</p>
<%= social_share_button_tag("My Site") %>

<!--
<p><strong><%= @dream.user.email if @dream.user %></strong></p>
<% if @dream.user == current_user %>
<%= link_to 'Editar', edit_dream_path(@dream) %> |
 <%= link_to 'Publicar reto', new_micropost_path, class: "btn btn-primary"  %> 
-->

</div>
<% end %>
</div>
</div>
</div>
<br>
<br>






