<%= link_to 'Atrás', dreams_path %>

<% if user_signed_in? %>
	<div id="gamification-data">
    <%= @gamification_data ['points'] %>
 </div>
  <% else %>
       <% end %>


<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
<%= image_tag @dream.image.url(:medium) %>
			</div>
<div class="panel-body">
<p><strong> Sueño </strong></p>
<p><%= @dream.dream %></p>
<p><strong> Quiero </strong></p>
<p><%= @dream.quiero %></p>
<p><strong> Ofrezco </strong></p>
<p><%= @dream.ofrezco %></p>
<p><strong> Necesito </strong></p>
<p><%= @dream.necesito %></p>
<p><strong> Palabras clave </strong></p>
<p><%= raw @dream.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></p>
<p><strong> Tags related </strong></p>
<%= link_to 'Quiero ser voluntario de este sueño', pages_comofunciona_path, class: "btn btn-primary" %> 
<br>
<br>
<%= link_to 'Encargar una caja de los sueños', 'http://meetrico.com/coworking_spaces/104', class: "btn btn-primary", :target => "_blank" %> 

<%= image_tag ( "cajadesuenos.png")  %>

<br>

<p> Compártelo</p>
<%= social_share_button_tag("My Site") %>
<br>

<% if @dream.user == current_user %>
<%= link_to 'Editar', edit_dream_path(@dream) %> |
<br>
<br>
<!-- 
<p><strong><%= @dream.user.email if @dream.user %></strong></p>-->
<br>
<!-- <% if @dream.tag_list = %w("gente, amor, compasión, entrega") %>
<iframe width="700" height="500" src="//www.youtube.com/embed/i1Le5GYkBT8" frameborder="0" allowfullscreen></iframe>
<% else %>
 <% end %> -->
<% end %>
</div>
</div>
</div>
</div>







