<%= link_to 'Atrás', dreams_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
<%= image_tag @dream.image.url(:medium) %>
			</div>
<div class="panel-body">
<p><strong> Sueño </strong></p>
<p><%= @dream.dream %></p>
<%= link_to 'Quiero ser voluntario', pages_comofunciona_path, class: "btn btn-primary" %> 
<br>
<br>
<div class="footer"><%= image_tag("camisetas.png", width: 450, height: 250, :alt => "Apoyar") %></div>

<br>

<!--<%= link_to 'Apoyar con una camiseta', pages_patrocinios_path, class: "btn btn-primary" %> -->

<a class="typeform-share button" href="https://felipe10.typeform.com/to/ZdBCW7" data-mode="2" target="_blank">Quiero apoyar</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

<br>
<br>
<p> Compártelo</p>
<%= social_share_button_tag("My Site") %>

<% if @dream.user == current_user %>
<%= link_to 'Editar', edit_dream_path(@dream) %> |
<br>
<br>
<%= current_user.gioco_data %>
<%= current_user.track_event('Login') %>
<!-- 
<p><strong><%= @dream.user.email if @dream.user %></strong></p>-->
<br>
<br>
<%= link_to 'Publicar un post', new_micropost_path, class: "btn btn-primary"  %> 
</div>
<% end %>
</div>
</div>
</div>
<br>
<br>


<h3><%= @micropost = Micropost.last.content %></h3>



