<p id="notice"><%= notice %></p>

<p>
  <strong>Propuesta de valor:</strong>
  <%= @canvas_lado_derecho.propuesta_de_valor %>
</p>

<p>
  <strong>Tratamiento con el cliente:</strong>
  <%= @canvas_lado_derecho.tratamiento_con_el_cliente %>
</p>

<p>
  <strong>Canales:</strong>
  <%= @canvas_lado_derecho.canales %>
</p>

<p>
  <strong>Segmento cliente1:</strong>
  <%= @canvas_lado_derecho.segmento_cliente1 %>
</p>

<p>
  <strong>Segmento cliente22:</strong>
  <%= @canvas_lado_derecho.segmento_cliente22 %>
</p>

<p>
  <strong>Segmento cliente3:</strong>
  <%= @canvas_lado_derecho.segmento_cliente3 %>
</p>

<p>
  <strong>Stakeholder1:</strong>
  <%= @canvas_lado_derecho.stakeholder1 %>
</p>

<p>
  <strong>Stakeholder2:</strong>
  <%= @canvas_lado_derecho.stakeholder2 %>
</p>

<p>
  <strong>Stakeholder3:</strong>
  <%= @canvas_lado_derecho.stakeholder3 %>
</p>

<p>
  <strong>Indicador clave:</strong>
  <%= @canvas_lado_derecho.indicador_clave %>
</p>

<%= link_to 'Edit', edit_canvas_lado_derecho_path(@canvas_lado_derecho) %> |
<%= link_to 'Back', canvas_lado_derechos_path %>
