<%= form_for(@canvas_lado_izquierdo) do |f| %>
  <% if @canvas_lado_izquierdo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canvas_lado_izquierdo.errors.count, "error") %> prohibited this canvas_lado_izquierdo from being saved:</h2>

      <ul>
      <% @canvas_lado_izquierdo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sector %><br>
    <%= f.text_field :sector, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :problema_general %><br>
    <%= f.text_field :problema_general, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :solucion %><br>
    <%= f.text_field :solucion, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :producto1 %><br>
    <%= f.text_field :producto1, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :producto2 %><br>
    <%= f.text_field :producto2, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :producto3 %><br>
    <%= f.text_field :producto3, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :actividad_clave1 %><br>
    <%= f.text_field :actividad_clave1, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :actividad_clave2 %><br>
    <%= f.text_field :actividad_clave2, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :actividad_clave3 %><br>
    <%= f.text_field :actividad_clave3, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :recurso_clave1 %><br>
    <%= f.text_field :recurso_clave1, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :recurso_clave2 %><br>
    <%= f.text_field :recurso_clave2, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :recurso_clave3 %><br>
    <%= f.text_field :recurso_clave3, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.submit class: "form-control"   %>
  </div>
<% end %>
