<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @canvas_lado_izquierdo.sector %>
</p>

<p>
  <strong>Problema general:</strong>
  <%= @canvas_lado_izquierdo.problema_general %>
</p>

<p>
  <strong>Solucion:</strong>
  <%= @canvas_lado_izquierdo.solucion %>
</p>

<p>
  <strong>Producto1:</strong>
  <%= @canvas_lado_izquierdo.producto1 %>
</p>

<p>
  <strong>Producto2:</strong>
  <%= @canvas_lado_izquierdo.producto2 %>
</p>

<p>
  <strong>Producto3:</strong>
  <%= @canvas_lado_izquierdo.producto3 %>
</p>

<p>
  <strong>Actividad clave1:</strong>
  <%= @canvas_lado_izquierdo.actividad_clave1 %>
</p>

<p>
  <strong>Actividad clave2:</strong>
  <%= @canvas_lado_izquierdo.actividad_clave2 %>
</p>

<p>
  <strong>Actividad clave3:</strong>
  <%= @canvas_lado_izquierdo.actividad_clave3 %>
</p>

<p>
  <strong>Recurso clave1:</strong>
  <%= @canvas_lado_izquierdo.recurso_clave1 %>
</p>

<p>
  <strong>Recurso clave2:</strong>
  <%= @canvas_lado_izquierdo.recurso_clave2 %>
</p>

<p>
  <strong>Recurso clave3:</strong>
  <%= @canvas_lado_izquierdo.recurso_clave3 %>
</p>

<%= link_to 'Edit', edit_canvas_lado_izquierdo_path(@canvas_lado_izquierdo) %> |
<%= link_to 'Back', canvas_lado_izquierdos_path %>
