
<div class="row">
<div class="col-md-offset-2 col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h3>¿Olvidaste tu Contraseña?</h3></div>
  </div>

  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Ingresa tu email" %>
      </div>
      <div class="form-group">
        <%= f.submit "Envíame las instrucciones para una nueva contraseña", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
