<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"></h2>
<h1> Formulario de pedido de productos agrícolas </h1>
<h3> Somos una plataforma en internet que desde hace 9 años viene registrando y apoyando los sueños de los hijos de los agricultores y jóvenes de los barrios en Colombia y otras partes del mundo. Creamos un canal de comercialización alternativo, de productos agrícolas del campo a la ciudad que reduce en un 30% las comisiones por intermediación. Los jóvenes y niños, hijos de los agricultores son los aliados estratégicos en este proyecto que permite reducir la migración de los agricultores del campo a la ciudad, promoviendo la agricultura limpia, e incentivando proyectos con alto impacto social. </h3> 
  <br>
<h2> Todos los catálogos y buenas prácticas agrícolas son llevadas a cabo por ellos y por medio de esta plataforma. </h2>

<h2> Lola Serna del Restaurante Carambolo nos comparte su testimonio, dale click para ver el video. </h2>
<br>

<p> <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/0dR4s2u07B/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">Cali ciudad referente en consumo responsable</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">Un vídeo publicado por Felipe Velasquez (@pipevel) el <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-03-20T17:13:47+00:00">20 de Mar de 2015 a la(s) 10:13 PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</p>
<h2> Son clientes nuestros ya: Ringlete, Hotel Sheraton, Carambolo, Azul, La Cocina, Cosechas, entre otros que se irán sumando a esta transformación. </h2>

<h2> El sueño de Michael Steven Henao Osorio ha sido apoyado gracias a la venta de nuestros productos. </h2>
<br>
<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/ymZuMyu003/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">Entrevista exclusiva a michael steven henao emprendedor de lapapaya.org hoy a pagina completa en el adn.</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">Una foto publicada por Felipe Velasquez (@pipevel) el <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-02-02T13:12:38+00:00">2 de Feb de 2015 a la(s) 5:12 PST</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</br>
    <div>
      <div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Razon social</th>
      <th>Nit</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Nombre representante</th>
      <th>Persona contacto</th>
      <th>Pedido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.Nombre %></td>
        <td><%= pedido.Razon_social %></td>
        <td><%= pedido.Nit %></td>
        <td><%= pedido.Direccion %></td>
        <td><%= pedido.Telefono %></td>
        <td><%= pedido.Nombre_representante %></td>
        <td><%= pedido.Persona_contacto %></td>
        <td><%= pedido.Pedido %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo pedido', new_pedido_path, class: "btn btn-primary btn-lg" %>


