
<div class = "navbar navbar-default navbar-fixed-bottom">

	<div class = "navbar-text">






<!-- 
<div style="float: right;">
<%= link_to (image_tag "madrid+d.jpeg", width: 50, height: 50) %>
<%= link_to (image_tag "OEA.jpg", width: 50, height: 50) %>
<%= link_to (image_tag "harvard.jpg", width: 50, height: 50) %>
<%= link_to (image_tag "globaltic.jpeg", width: 50, height: 50) %>
<%= link_to (image_tag "cibersur.jpeg", width: 50, height: 50) %>
</div>
-->

	<p> <%= link_to "Lapapaya Coworking", "http://meetrico.com/coworking_spaces/104", :target => "_blank" %> Cra 35 No 3-27 San Fernando Cali - Celular 3207217643 </p>
	</div>
	</div>


