
<h3> Somos una red social donde puedes poner un sueño capaz de cambiar el mundo, a cambio ofreces servicios profesionales en horas de tiempo. Entre más ayudas a otros usuarios, el resto de nuestra comunidad te puede ayudar. Una vez te hemos ayudado debes colaborarle a otras tres personas más.</h3>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lapapaya.org</h3>
  </div>
  <div class="panel-body">
    
<div class="row">
  <div class="col-xs-6 col-sm-3">
  	<strong>Nuestra filosofía</strong><br>
  	ONG Lapapaya.org
  </div>
  <div class="col-xs-6 col-sm-3">
    Human Centered Design
    <br> Diseño centrado en el humano
    <div class="footer"><%= image_tag("hcd.png", width: 150, height: 150, :alt => "Inteligent Cities") %></div>
  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">El sueño es el centro del diseño. Diseñamos programas de:
  <br>
  1. Educación <br>
  2. Emprendimiento <br>
  3. Espacios <br><br>
<i>"A partir de un sueño nos acercamos más al producto deseado para nuestros usuarios."</i></div>
  <div class="col-xs-6 col-sm-3"> 
    <%= link_to "+ Ideo HCD Toolkit", "http://www.ideo.com/work/human-centered-design-toolkit/", :target => "_blank" %><br>
    <%= link_to "+ Tesis capítulo 3.1" %><br>
    <%= link_to "+ IAAC", "http://www.iaacblog.com/maa2011-2012-theoryconcepts/2011/12/human-centered-design-in-context-of-architecture-new-input/", :target => "_blank"%><br>
    <%= link_to "+ Magazine Good", "http://magazine.good.is/articles/human-centered-design-boom-introducing-public-interest-design-week", :target => "_blank"%><br>
   <br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3">
    New Economy <br>
    Nueva Economía
    <div class="footer"><%= image_tag("interest.png", width: 150, height: 150, :alt => "Inteligent Cities") %></div>

  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
  	Que la economia pueda medir el nivel de conciencia de los usuarios, brindando mayor beneficio a aquellos que puedan evidenciar tener un mayor nivel de conciencia.</div>
  <div class="col-xs-6 col-sm-3"> 
  <%= link_to "Bitcoin:" %> Monedas virtuales que apoyan proyectos con impacto social y medio ambiental.
<br><br>
 <%= link_to "+ P2PFoundation", "http://p2pfoundation.net/Digital_City_and_the_New_Economic_Paradigm?title=Digital_City_and_the_New_Economic_Paradigm&action=edit", :target => "_blank"%><br>
 <%= link_to "+ Mit Bitcoin Expo", "http://mitbitcoinexpo.org/", :target => "_blank"%><br>
 <%= link_to "+ IGC3 España", "https://groups.google.com/forum/#!forum/igc3", :target => "_blank"%><br>
 <%= link_to "+ Dinero y conciencia", "http://www.youtube.com/watch?v=UK3hC1xxHQM", :target => "_blank"%><br>
 <%= link_to "+ Tésis capítulo 3.4"%><br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>

<br>
<div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3">
    Collaboration<br>
    Colaboración
    <div class="footer"><%= image_tag("collaboration.png", width: 150, height: 150, :alt => "Inteligent Cities") %></div>
  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
  	Nuestra pedagogia premia a las personas por colaborar en la consecucion de resultados, en lugar de asignar notas que generan roces entre los alumnos reduciendo la capacidad de trabajo en equipo. <br>
"Por medio de las monedas virtuales se
 premian las personas por colaborar."</div>
 
  <div class="col-xs-6 col-sm-3"> 
    <%= link_to "+ Co creación"%><br>
    <%= link_to "+ Co-working"%><br>
    <%= link_to "+ Shared value"%><br>
    <%= link_to "+ Inteligencias colectivas"%><br>
<br>

</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6 col-sm-3">¿Cómo lo hacemos?</div>
  <div class="col-xs-6 col-sm-3">Estilos de aprendizaje y modelos alternativos</div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">Una educacion pertinente basada en los sueños de los usuarios.

</div>
  <div class="col-xs-6 col-sm-3"> 
    <%= link_to "+  World Tech Makers "%><br>
    <%= link_to "+ General Assembly "%><br>
    <%= link_to "+ Pacto por la educación"%><br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3">Emprendimiento</div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
  	Nuestros programas educativos fortalecen los sueños de nuestros alumnos, fomentando el autoempleo. 

</div>
  <div class="col-xs-6 col-sm-3"> 
  Educación para el emprendimiento
<br><br>
    <%= link_to "+ Proyecto de vida "%><br>
    <%= link_to "+ Modelo Canvas Plus "%><br>
    <%= link_to "+ Programas"%><br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>


<hr>

<div class="row">
  <div class="col-xs-6 col-sm-3"style="color:#00BFFF" ><kbd>Ultimate hibrid goal</kbd></div>
  <div class="col-xs-6 col-sm-3">Ciudades Inteligentes</div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
    Our Manifesto<br>
    Manifiesto

  </div>
  <div class="col-xs-6 col-sm-3"> 
    <%= link_to "+  Conceptos Generales "%><br>
    <%= link_to "+ Especialización del conocimiento "%><br>
    <%= link_to "+ Industrias Culturales y Sociedad del Conocimiento"%><br>
    <%= link_to "+ Salud "%><br>
    <%= link_to "+ Economía "%><br>
    <%= link_to "+ Ciudad y Urbanismo"%><br>
    <%= link_to "+ Indicadores de felicidad "%><br>
    <%= link_to "+ Familia"%><br>
    <%= link_to "+ Seguridad alimentaria"%><br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>
<div class="footer"><%= image_tag("city.png", :alt => "Inteligent Cities") %></div>

<br>
<br>
<div class="row">
  <div class="col-xs-6 col-sm-3"> <h5>Start-up Meetrico</h5>
   Optimización de espacios
    <div class="footer"><%= image_tag("meetrico.png", width: 120, height: 150, :alt => "Inteligent Cities") %></div>
  </div>
  <div class="col-xs-6 col-sm-3">
  + Nuevas escuelas (Espacios físicos)<br>
  + Coworking Spaces<br>	

  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
  	Beneficios y oportunidades

  </div>
  <div class="col-xs-6 col-sm-3"> 
  +	Alternative learning spaces <br>
  + Espacios vacíos <br>
  + Meet people<br>
  + Connectivity<br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>
<br>

<div class="row">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3">
  + Aplicaciones Urbanísticas y Arquitectónicas<br>
  + Desarrollo territorial sostenible<br>	

  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>

  <div class="col-xs-6 col-sm-3">
  +	Viviendas inclusivas <br>
  + Centros Comerciales <br>
  + Hoteles <br>
  + Fincas <br>
  + Tactical Urbanism <br>
  </div>
  <div class="col-xs-6 col-sm-3"> 
  +	Reducción de desplazamientos <br>
  + Alimentos <br>
  + Bitcoin (Monedas digitales inteligentes)<br>
  + Oportunidades<br>
</div>
  <div class="col-xs-6 col-sm-3">
</div>
</div>

<h3> Premios </h3>
<h4> Latinoamérica </h4>
<div class="premios"><%= image_tag("premioslapapaya.png", :alt => "Premios") %></div>
<h4> Europa </h4>
<div class="premios"><%= image_tag("premios2lapapaya.png", width: 800, height: 150, :alt => "Premios") %></div>
<h3> Prensa </h3>
<div class="prensa"><%= image_tag("prensalapapaya.png", :alt => "Premios") %></div>
<div class="prensa"><%= image_tag("sponsors.png", width: 850, height: 600, :alt => "Premios") %></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js">
{"dataSourceUrl":"//docs.google.com/a/lapapaya.org/spreadsheet/tq?key=0AsoCRT2xYSvrdGN0TEZrR0ZrZVdUQU1oTTdLX1RWMVE&transpose=0&headers=0&range=B17%3AC23&gid=13&pub=1","options":{"vAxes":[{"useFormatFromData":true,"minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null},{"useFormatFromData":true,"minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null}],"titleTextStyle":{"bold":true,"color":"#ff0000","fontSize":16},"pieHole":0,"booleanRole":"certainty","title":"Referencias profesionales","height":277,"animation":{"duration":0},"colors":["#3366CC","#DC3912","#FF9900","#109618","#990099","#0099C6","#DD4477","#66AA00","#B82E2E","#316395","#994499","#22AA99","#AAAA11","#6633CC","#E67300","#8B0707","#651067","#329262","#5574A6","#3B3EAC","#B77322","#16D620","#B91383","#F4359E","#9C5935","#A9C413","#2A778D","#668D1C","#BEA413","#0C5922","#743411"],"width":533,"focusTarget":"series","is3D":false,"hAxis":{"useFormatFromData":true,"minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null},"tooltip":{"trigger":"none"}},"state":{},"view":{},"isDefaultVisualization":false,"chartType":"PieChart","chartName":"Chart 1"}
</script>
<iframe src="https://docs.google.com/presentation/d/1DRScwpXo5CFDKgrbb0ZsOyhozQhIpkaaFKbG1eV8aik/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


  </div>
</div>

<br>
<h2> La Tesis de Lapapaya </h2>
<p style='background-color:white'> Esta tésis fué escrita en España entre los años 2007 al 2012. Contiene las bases teóricas sobre las cuales se fundamenta el modelo de lapapaya.org</p>

<div data-configid="1814511/8508353" style="width: 525px; height: 679px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>


<br>
</div>
<br>
<br>




