<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %> 
  </div>
  <div class="form-group">
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 80 %>
  </div>
 <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.text_field :tags, class: "form-control" %>

  </div> 
  <div class="actions">
    <%= f.submit class: "form-control" %>
  </div>
  </div>
<% end %>
<%= tinymce %>
