<div class="panel panel-default">
  <div class="panel-heading">
    <h4> Ciudad, emprendimiento y tecnología </h4>
  </div>
  <div class="panel-body">


<div class="media">
  <div class="media-body">
    <table class="table table-hover">

        <thead>
          <tr>
            <th><b>Título</b></th><br>
            <th>Resumen</th>
            <th>Tags</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>


        <tbody>
          <% @wikis.each do |wiki| %>
            <tr>
              <td> <%= link_to wiki.title, wiki %></td>
              <td><%= wiki.abstract %></td>
              <td><%= wiki.tags %></td>
              <td></td>
              <td><%= link_to 'E', edit_wiki_path(wiki) %></td>
              <td><%= link_to 'D', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>

      <br><br>

       <% if user_signed_in? %>
      <%= link_to 'Nuevo', new_wiki_path %> 
       <% end %>

     </li>
      <br>
      <br>
      <br>
        </div>
      </div>
  </div>
</div>