<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @wiki.abstract %>
</p>

<p>
  <strong>Content:</strong>
  <%= @wiki.content.html_safe %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @wiki.tags %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
