<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Wiki Ciudad, Emprendimiento y Educación</h3>
  </div>
  <div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @wiki.abstract %>
</p>

<p>
  <strong>Content:</strong>
  <%= @wiki.content.html_safe %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @wiki.tags %>
</p>

<%= mail_to 'milsuenosporcali@lapapaya.org', "Solucion", class: "btn btn-primary"   %> 

<!--<%= link_to 'Edit', edit_wiki_path(@wiki) %> | -->
<%= link_to 'Back', wikis_path %>

</div>
</div>