<div class="container">
  <div class="login-container">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div id="output"></div>
    <div class="avatar"></div>
    <h4>Para partir lapapaya primero tienes que darla</h4>
    <div class="form-box">
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Pon aquí tu correo", class: "input", autofocus: true, type: "text" %>
        <%= f.password_field :password, placeholder: "Aquí tu contraseña", class: "input"%>
      </div>
    </div>
    <div class="checkbox">
      <%= f.check_box :remember_me %><label class="inline_label"> Recordarme</label>
    </div>
    <%= button_tag(type: 'submit', class: "btn btn-primary btn-block login") do %>
    Ingresar
    <% end %>

  </div>
  <% end %>
</div>
</div>
</div>

<%= render "devise/shared/links" %>
