<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Producto %><br>
    <%= f.text_field :Producto, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :Unidades %><br>
    <%= f.number_field :Unidades, class: "form-control"  %>
  </div>
  <div class="form-grop">
    <%= f.submit class: "form-control"   %>
  </div>
<% end %>
