<h1>Productos</h1>

<table>
  <thead>
    <tr>
      <th> <h1>Producto</h1></th>
      <th><h1>Unidades</h1></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><p><%= producto.Producto %></p></td>
        <td><p><%= producto.Unidades %></p></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
