<%= form_for(@solucion) do |f| %>
  <% if @solucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solucion.errors.count, "error") %> prohibited this solucion from being saved:</h2>

      <ul>
      <% @solucion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :solucion %><br>
    <%= f.text_field :solucion, class: "form-control"   %>
  </div>

    <div class="form-group">
    <%= f.label :foto %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "form-control" %>
  </div>
<% end %>


