<h1>Listing solucions</h1>

<table>
  <thead>
    <tr>
      <th>Micropost</th>
      <th>Solucion</th>
      <th>Solucion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @solucions.each do |solucion| %>
      <tr>
        <td><%= solucion.micropost %></td>
        <td><%= solucion.solucion %></td>
        <td><%= solucion.solucion %></td>
        <td><%= link_to 'Show', solucion %></td>
        <td><%= link_to 'Edit', edit_solucion_path(solucion) %></td>
        <td><%= link_to 'Destroy', solucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solucion', new_solucion_path %>
