<p id="notice"><%= notice %></p>

<p>
  <strong>Micropost:</strong>
  <%= @solucion.micropost %>
</p>

<p>
  <strong>Solucion:</strong>
  <%= @solucion.solucion %>
</p>
<h2><%= current_user.points %></h2>
<p>
  <strong>Solucion:</strong>
  <%= @solucion.solucion %>
</p>

<%= link_to 'Edit', edit_solucion_path(@solucion) %> |
<%= link_to 'Back', solucions_path %>
