<p id="notice"><%= notice %></p>

<p>
  <strong>Valor venta producto1:</strong>
  <%= @canvas_financiero_ingreso.valor_venta_producto1 %>
</p>

<p>
  <strong>Valor venta producto2:</strong>
  <%= @canvas_financiero_ingreso.valor_venta_producto2 %>
</p>

<p>
  <strong>Valor venta producto3:</strong>
  <%= @canvas_financiero_ingreso.valor_venta_producto3 %>
</p>

<%= link_to 'Edit', edit_canvas_financiero_ingreso_path(@canvas_financiero_ingreso) %> |
<%= link_to 'Back', canvas_financiero_ingresos_path %>
