<%= link_to 'Volver', dreams_path, class: "btn btn-info" %>
<center><%= link_to 'Crear Reto', new_micropost_path, class: "btn btn-primary btn-lg" %></center>
<br />
<br />

<div id="dreams" class="transitions-enabled">

  <% @microposts.each do |micropost| %>
  <div class="box panel panel-default">
    <%= link_to image_tag(micropost.image.url(:medium)), micropost %>

    <div class="panel-body">
    </div>

    <p><strong> Reto <%= micropost.id %> </strong></p>
    <p><%= micropost.content %></p>
    <p></p>
    <p></p>
    <p><%= link_to 'Solución', new_solution_path, class: "btn btn-primary" %></p>
    <br>
    <br>
    <!--<p> >> Reguemos semillas de papaya </p>-->
    <%= social_share_button_tag("My Site") %>

    <p><strong><%# dream.user.email if dream.user %> </strong></p>

    <% if micropost.user == current_user %>
    <div class="actions">
      <%= link_to edit_micropost_path(micropost) do %><!-- mira del ( ) si es content -->
      <span class="glyphicon glyphicon-edit"></span>
      Editar
      <% end %>
      <%= link_to micropost, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
      <span class="glyphicon glyphicon-trash"></span>
      Borrar
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>

  <br />
