<div class="im-centered">
  <div class ="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <!--<h2><span class="red"><%= current_user.points %></span><br>Puntos</br></h2>-->
        <br />
        <%= image_tag @micropost.image.url(:medium) %>
        <br />
        <div class="capion">
          <h3>Reto <%= @micropost.id %></h3>
          <br />
          <center><%= @micropost.content %></center>
          <br />
          <br />

          <center>
            <p>
              <button id="some_id" class="btn btn-info">Crear soluci贸n</button>
              <%= simple_form_for([@micropost, @solution], html: { class: "hola"}) do |f| %>
                <%= f.input :content, label: "Soluci贸n" %>
                <%= f.button :submit, 'Enviar soluci贸n', class: 'btn btn-primary' %>
              <% end %>
              <script type="text/javascript">
                var theButton = document.getElementById('some_id');
                theButton.onclick = function() {
                  document.getElementById('new_solution').style.visibility='visible';
                }
              </script>

              <%# link_to 'Crear Soluci贸n', new_solution_path, class: "btn btn-primary" %>
            </p>
          </center>

        </div>
      </div>
    </div>
  </div>
</div>
