



<%= link_to 'Atrás', dreams_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">

      </div>
<div class="panel-body">
<p><strong> Micropost </strong></p>

<div class="panel-heading center">
<%= image_tag @micropost.image.url(:medium) %>
</div>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>


<%= link_to 'Solución', new_solucion_path, class: "btn btn-primary" %> 