<img src="assets/images/logo.png" />

<% if  (@resource.name.nil? ||  @resource.name.blank?) &&  (@resource.name.nil? ||  @resource.lastname.blank?) %>
<b><p>¡ Hola <%= @resource.email %>!</p></b>
<% else if (@resource.name.present? && !@resource.name.blank?) && (@resource.lastname.present? && !@resource.lastname.blank?) %>
<b><p>¡ Hola <%= @resource.name %> <%= @resource.lastname %>!</p></b>
<% else if @resource.name.present? && !@resource.name.blank? %>
<b><p>¡ Hola <%= @resource.name %> !</p></b>
<% else if @resource.lastname.present? && !@resource.lastname.blank? %>
<b><p>¡ Hola <%= @resource.lastname %> !</p></b>
<% end %>
<% end %>
<% end %>
<% end %>
<p>Has solicitado el restablecimiento de tu contraseña</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solcitaste cambio de contraseña, por favor ignora este email y notifícanos a: admin@lapapaya.org</p>
