<%= form_for(@etapa) do |f| %>
  <% if @etapa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etapa.errors.count, "error") %> prohibited this etapa from being saved:</h2>

      <ul>
      <% @etapa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel-heading">
  <div class="form-group">
    <%= f.label :etapa1 %><br>
    <%= f.text_field :etapa1, placeholder: "La primera etapa de tu sueño serán estos primeros dos años. ¿Que te comprometes a hacer y a obtener en este tiempo? Debe ser medible, tangible y realizable. ¡No te frustres!", class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :indicador1 %><br>
    <%= f.number_field :indicador1, placeholder: "Debes definir tu primera etapa con un número o una cifra que te permita medir. ¿Que cifra piensas obtener?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :etapa2 %><br>
    <%= f.text_field :etapa2, placeholder: "La segunda etapa serán los dos años siguientes. ¿Que piensas obtener?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :indicador2 %><br>
    <%= f.number_field :indicador2, placeholder: "¿Como van evolucionando tus cifras?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :etapa3 %><br>
    <%= f.text_field :etapa3, placeholder: "Estamos en la recta final. ¿Cual es el cierre de tu sueño?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :indicador3 %><br>
    <%= f.number_field :indicador3, placeholder: "Con esto habrás logrado tu proyecto, ¡felicidades estás en la cima!", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "form-control" %>
  </div>
<% end %>
</div>



