<p id="notice"><%= notice %></p>

<p>
  <strong>Etapa1:</strong>
  <%= @etapa.etapa1 %>
</p>

<p>
  <strong>Indicador1:</strong>
  <%= @etapa.indicador1 %>
</p>

<p>
  <strong>Etapa2:</strong>
  <%= @etapa.etapa2 %>
</p>

<p>
  <strong>Indicador2:</strong>
  <%= @etapa.indicador2 %>
</p>

<p>
  <strong>Etapa3:</strong>
  <%= @etapa.etapa3 %>
</p>

<p>
  <strong>Indicador3:</strong>
  <%= @etapa.indicador3 %>
</p>

<%= link_to 'Edit', edit_etapa_path(@etapa) %> |
<%= link_to 'Back', etapas_path %>
