<%= favicon_link_tag 'favicon.ico' %>
<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to (image_tag "logo.png", width: 320, height: 140), "/"
      %>
      <br/>
      <% if user_signed_in?
      else %>
      <br>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <br>
        <% if user_signed_in? %>

        <!--<li><%= link_to "Wiki", wikis_path %></li> -->
        <!--<li><%= link_to new_pedido_path do %>
          <span class="glyphicon glyphicon-shopping-cart"> Pedidos </span>-->
          <li><%= link_to microposts_path do %> 
            <span class="glyphicon glyphicon-ok"> Retos </span>
            <li><%= link_to new_dream_path do %>
              <span class="glyphicon glyphicon-heart"> Nuevo sueño </span>
              <% end %>
              <% end %>
              <% end %>
            </li>
          </li>
          <li><%= link_to userpanel_path do %>
            <span class="glyphicon glyphicon-user"> Panel de Usuario</span>
            <% end %>
          </li>
          <!--
          <div class="btn-group">
          <button class="btn">Canvas+</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        <li><%# link_to "¿Quien es mi cliente?", new_canva_path %></li>
        <li><%# link_to "Lado izquierdo", new_canvas_lado_izquierdo_path %></li>
        <li><%# link_to "Lado derecho", new_canvas_lado_derecho_path %></li>
        <li><%# link_to "Lo que me cuesta", new_canvas_financiero_costo_path %></li>
        <li><%# link_to "Lo que me entra", new_canvas_financiero_ingreso_path %></li>
      </ul>
    </div>
  -->

  <li><%= link_to destroy_user_session_path, method: :delete do %>
    <span class="glyphicon glyphicon-log-out"> Salir</span>
    <% end %>
  </li>
  <%else%>
  <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
  <%= link_to 'Regístrate', new_user_registration_path, class: "btn btn-primary" %>

  <li><%= link_to "Acerca de", about_path %></li>
  <li><%= link_to "+ Facebook", "https://www.facebook.com/groups/lapapaya/?fref=ts", :target => "_blank" %></li>
  <li><%= link_to "+ Twitter", "https://twitter.com/la_papaya", :target => "_blank" %></li>
  <li><%= link_to "+ Blog", "http://elblogde.lapapaya.org/wp", :target => "_blank" %></li>
  <!-- <li><h4><%= link_to "+ Registra tu sueño en Mil sueños por Cali", "http://lapapaya.org/pages/milsuenos", :target => "_blank" %></h4> <li> -->
  <br>

  <!--
  <div class="btn-group">
  <button class="btn btn-mini">Micro Franquicia Social</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
  <span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><%= link_to "¿Que es?", pages_meetrico_path %> </li>
<li><%= link_to "¿Que es?", pages_milsuenos_path %> </li>
<li><%= link_to "¿Que es?", pages_milsuenos_path %> </li> -->
</ul>
</div>
<% end %>
</ul>
</div>
<!-- /.navbar-collapse -->
</nav>
