<!DOCTYPE html>
<html lang="es">
<head>

  <head>
    <title>Lapapaya.org Educación que dá frutos</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content= "<%= request.original_url %>"/>
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="<%= @dream.dream %>" />
    <meta property="og:description"   content="<%= @dream.dream %>" />
    <meta property="og:image"         content="http://s3.amazonaws.com/lapapaya/dreams/images/000/000/463/medium/Presentación1.jpg?1447435993" />
 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
  </div>
<main>
  <%= yield %>
</main>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<footer class="navbar-text">
  <%= render 'layouts/footer' %>
</footer>
